<div class="row">
   <% @products.each do |product| %>
      <div class="col-md-3">
      <div>
        <%= product.title %>
      </div>
      <div>
        <img src="<%= product.path_to_image %>"/>
      </div>
      <div>
        <%= product.description %>
      </div>
      <div>
        Размер: <%= product.size %> см.
      </div>
      <div>
        Цена: <%= product.price %> руб.
      </div>
     
      <div>
        <button type="button" class="btn btn-sm btn-success" onclick="add_to_cart(<%= product.id %>)">Добавить в корзину</button>
      </div>

      </div>
    <% end %>
</div>

