<div class="row">
   <% @products.each do |product| %>
      <div class="col-md-3">
      <div>
        <%= product.title %>
      </div>
      <div>
        <img src="<%= product.path_to_image %>"/>
      </div>
      <div>
        <%= product.description %>
      </div>
      <div>
        <%= product.price %>
      </div>
      <div>
        <%= product.size %>
      </div>
  
      
      </div>
    <% end %>
</div>

