<div class="row">
   <% @products.each do |product| %>
      <div class="col-md-3">
      <div>
        <%= product.title %>
      </div>
      <div>
        <img src="<%= product.path_to_image %>"/>
      </div>
      <div>
        <%= product.description %>
      </div>
      <div>
        Размер: <%= product.size %> см.
      </div>
      <div>
        Цена: <%= product.price %> руб.
      </div>
           
      </div>
    <% end %>
</div>

